[Desktop Entry]
Encoding=UTF-8
Name=Line Sampling Filter
Name[el]=Φίλτρο γραμμικής δειγματοληψίας
Name[es]=Filtro de modelado lineal
Name[et]=Joontükeldamise filter
Name[fr]=Filtre Line Sampling
Name[ga]=Scagaire Samplála Línte
Name[gl]=Filtro de mostraxe por liñas
Name[km]=តម្រង​គំរូ​បន្ទាត់
Name[nds]=Streekaftast-Filter
Name[nl]=Lijnvormig aftastfilter
Name[pt]=Filtro de Amostragem de Linhas
Name[pt_BR]=Filtro de Amostragem de Linhas
Name[sv]=Linjesamplingsfilter
Name[uk]=Фільтр заповнення лініями
Name[x-test]=xxLine Sampling Filterxx
Comment=Samples the image with randomly oriented lines
Comment[el]=Δειγματοληψία της εικόνας με τυχαία κατευθυνόμενες γραμμές
Comment[es]=Muestrea la imagen con líneas orientadas aleatoriamente
Comment[et]=Tükeldab pilti juhusliku suunaga joontega
Comment[fr]=Échantillonne l'image avec des lignes orientées aléatoirement
Comment[ga]=Sampláil an íomhá le línte randamacha
Comment[gl]=Toma mostras da imaxe con liñas orientadas aleatoriamente
Comment[km]=ធ្វើរូបភាព​គំរូ​ជា​មួយ​នឹង​បន្ទាត់​កំណត់​ទិស​ចៃដន្យ
Comment[nds]=Tast dat Bild mit tofällig utricht Steken af
Comment[nl]=Tast een afbeelding lijnvormig af met willekeurig geörienteerde lijnen
Comment[pt]=Tira uma amostra da imagem com linhas orientadas de forma aleatória
Comment[pt_BR]=Tira uma amostra da imagem com linhas orientadas de forma aleatória
Comment[sv]=Samplar bilden med slumpmässigt orienterade linjer
Comment[uk]=Вкриває зображення випадково орієнтованими лініями
Comment[x-test]=xxSamples the image with randomly oriented linesxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaLineSampler
X-Krita-Version=2
