[Desktop Entry]
Encoding=UTF-8
Name=Line Sampling Filter
Name[el]=Φίλτρο γραμμικής δειγματοληψίας
Name[en_GB]=Line Sampling Filter
Name[es]=Filtro de modelado lineal
Name[et]=Joontükeldamise filter
Name[fr]=Filtre Line Sampling
Name[ga]=Scagaire Samplála Línte
Name[gl]=Filtro de mostraxe por liñas
Name[km]=តម្រង​គំរូ​បន្ទាត់
Name[nds]=Streekaftast-Filter
Name[nl]=Lijnvormig aftastfilter
Name[pt]=Filtro de Amostragem de Linhas
Name[pt_BR]=Filtro de Amostragem de Linhas
Name[sv]=Linjesamplingsfilter
Name[tr]=Çizgisel Örnekleme Süzgeci
Name[uk]=Фільтр заповнення лініями
Name[x-test]=xxLine Sampling Filterxx
Comment=Samples the image with randomly oriented lines.
Comment[en_GB]=Samples the image with randomly oriented lines.
Comment[es]=Muestrea la imagen con líneas orientadas aleatoriamente.
Comment[et]=Tükeldab pilti juhusliku suunaga joontega.
Comment[fr]=Échantillonne l'image avec des lignes orientées aléatoirement
Comment[ga]=Sampláil an íomhá le línte randamacha.
Comment[km]=ធ្វើរូបភាព​គំរូ​ជា​មួយ​នឹង​បន្ទាត់​កំណត់​ទិស​ចៃដន្យ ។
Comment[pt]=Tira uma amostra da imagem com linhas orientadas de forma aleatória.
Comment[sv]=Samplar bilden med slumpmässigt orienterade linjer.
Comment[tr]=Rastgele yönlü çizgilerle resmi örnekler.
Comment[uk]=Вкриває зображення випадково орієнтованими лініями.
Comment[x-test]=xxSamples the image with randomly oriented lines.xx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaLineSampler
X-Krita-Version=2
